<div class = "superdiv">
    <div class = "boxfaltas">
        <button class = "voltarBtn"routerLink="/materias">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span>
            <p class ="materia">
                {{materiaNome}}
            </p>
            <div class="faltasPbtnAdd">
                <p>
                    Faltas: {{countFaltas()}}
                </p>
                <span class = "btnAddFalta" (click)="postNewFalta()">
                    <mat-icon>add</mat-icon>
                </span>
            </div>
        </span>
        <div class = "flexFaltas">
            @for (falta of faltas; track falta.id) {
                <li (click) = "deleteFalta(falta.id)">
                    <p>
                        {{formatarDataCompleta(falta.dataFalta)}}
                    </p>
                </li>
            } @empty {
                <li class="noFalt">Você não tem faltas ainda.</li>
            }
        </div>
    </div>
</div>