.superdiv{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .form{
        border: 2px solid rgb(248, 132, 252);
        border-radius: 15px;
        padding: 15px;

        display: flex;
        flex-direction: column;
        gap: 10px;
        font-weight: 700;
        .newMateria{
            display: flex;
            gap: 10px;
            input{
                border: 2px solid rgb(248, 132, 252);
                border-radius: 15px;
                padding: 15px;
                font-weight: 700;
            }
            span{
                border: 2px solid rgb(140, 0, 145);
                background-color: rgb(70, 0, 35);
                border-radius: 100px;
                height: 10px;
                padding: 15px;
                font-weight: 700;
                color: white;
                
                display: flex;
                align-items: center;
                justify-content: center;
            }
            span:hover{
                border: 2px solid rgb(255, 143, 199);
                color: rgb(246, 149, 255);
                cursor: pointer;
            }
        }

        .materias{
            border: 2px solid rgb(140, 0, 145);
            border-radius: 15px;
            padding: 20px;
    
            list-style-type: none;

            div{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                li{
                    width: 100%;
                    border: 2px solid rgb(140, 0, 145);
                    background-color: rgb(37, 0, 41);
                    padding: 10px;
                    border-radius: 15px;
                    margin-bottom: 10px;
                    color: white;
                }
                li:hover{
                    cursor: pointer;
                    background-color: rgb(100, 0, 109);
                }
                .delBtn{
                    height: 40px;
                    padding: 10px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    border: 2px solid rgb(140, 0, 145);
                    border-radius: 100px;
                }
                .delBtn:hover{
                    background-color: red;
                    color: white;
                     cursor: pointer;
                }

            }

        }
    }
}