.superdiv{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .form{
        border: 2px solid black ;
        border-radius: 15px;
        padding: 15px;

        display: flex;
        flex-direction: column;
        gap: 10px;
        font-weight: 700;
        .newMateria{
            display: flex;
            gap: 10px;
            input{
                border: 2px solid black;
                border-radius: 15px;
                padding: 15px;
                font-weight: 700;
            }
            span{
                border: 2px solid black;
                border-radius: 15px;
                padding: 15px;
                font-weight: 700;
            }
            span:hover{
                background-color: blue;
                color: white;
                cursor: pointer;
            }
        }

        .materias{
            border: 2px solid black;
            border-radius: 15px;
            padding: 20px;
    
            list-style-type: none;

            div{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                li{
                    width: 100%;
                    border: 2px solid black;
                    padding: 10px;
                    border-radius: 15px;
                    margin-bottom: 10px;
                }
                li:hover{
                    cursor: pointer;
                    background-color: blue;
                    color: white;
                }
                .delBtn{
                    height: 50px;
                    padding: 10px;

                    border: 2px solid black;
                    border-radius: 100px;
                }
                .delBtn:hover{
                    background-color: red;
                    color: white;
                     cursor: pointer;
                }

            }

        }
    }
}