<div class="superdiv">
    <div class="form">
        <div class = "newMateria">
            <input type="text" id="newMateria" [(ngModel)]="newMateria" name="newMateria" placeholder="Nova Materia"/>
            <span (click)="newMateriaf()">
                    <mat-icon>add</mat-icon>
            </span>
        </div>
        <div class="materias">
            @for (materia of materias; track materia.id) {
                <div>
                    <li (click) ="pagFaltasMateria(materia.id, materia.nome)">
                        <p>
                            {{materia.nome}}
                        </p>
                    </li>
                    <button (click)="deleteMateria(materia.id)" class = "delBtn" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            } @empty {
                <li class="noMat">Você não tem matérias ainda.</li>
            }
        </div>

    </div>
</div>
